@import 'variables';
@import 'bootstrap-navbar';

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: $main-font;
  margin-bottom: $footer-height;
  background-color: $pastel-blue;
}

.about h3 {
  text-align: center;
  margin: 2em;
}

.svg-container {
  background-color: rgba(0, 0, 0, 0);
  main-svg {
    background-color: rgba(0, 0, 0, 0);
  }
}

svg {
  background-color: rgba(0, 0, 0, 0) !important;
}

.logo {
  border-radius: 50%;
}

.home {
  text-align: center;
}

.user {
  text-align: center;
}

.questionnaire {
  float: right;
}

.btn {
  // color: $orange !important;
}

.centre-button {
  text-align: center;
}

.start {
  text-align: right;
}

.login {
  float: right;
}

.visualise {
  float: left;
}

.signup {
  float: left;
}

.image-container {
  width: 80%;
  max-width: 400px;
  margin: 4em auto;

  img {
    width: 100%;
  }
}
